<div class="table-responsive table-padd">
  <div class="card-body pb-0">
    <form [formGroup]="QuotationDetailsTaxlabelForm" name="QuotationDetailsTaxlabelForm" (ngSubmit)="onSave()"
      class="Form-Horizontal">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="col-form-label">Tax Label<span class="mandatoryFieldColor">*</span></label>
            <select class="form-control"
              [ngClass]="{ 'is-invalid': this.submitted && f.TaxLabelDropDown.errors?.notEqual}"
              formControlName="TaxLabelDropDown" (change)="taxLabelChange($event.target.value)">
              <option value="-1">--Select Tax label--</option>
              <option *ngFor="let taxlabeldata of TaxLabel" [value]="taxlabeldata.id">{{taxlabeldata.taxLabel}}
              </option>
            </select>
            <div class="errorlbl" *ngIf="this.submitted && f.TaxLabelDropDown.errors?.notEqual">
              Please select Tax label
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="w-100"></label>
            <button class="btn add-btn sml-btn" type="submit">Add</button>
            <button class="btn btn-danger" style="cursor: pointer;
            padding: .27rem .75rem;
            margin-top: 3px;
            margin-left: 5px;" type="button" (click)="Cancel()">Close</button>
          </div>

        </div>
      </div>
    </form>
    <div>
      <div class="card-body position-relative">
        <div class="ag-theme-balham" style="width: 100%; height:500px;">
          <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData"
            [Currentpage]="this.Currentpage" (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
            [paginationPageSize]="10" (OnActionClick)="OnActionClick($event)">
          </app-ag-grid>
        </div>
      </div>
    </div>
  </div>
</div>
