<form [formGroup]="TerminalGroupForm" name="TerminalGroupForm" (ngSubmit)="OnSubmit('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='Add'|| Mode=='Edit'">
    <div class="card-header">
      {{Mode}} Terminal Group
    </div>
   
    <div class="card-body pb-0">
      <div class="tab-content pt-2 pb-1">
        <div class="tab-pane fade show active">
          <div class="form-border mt-0">
            <div class="row">
              <div class="col-8 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Group Name<span class="mandatoryFieldColor">*</span></label>
                  <input class="form-control" formControlName="GroupName" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.GroupName.errors}" type="text">
                  <div class="errorlbl" *ngIf="submitted && f.GroupName.errors">Please enter group name</div>
                </div>

              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn add-btn mr-1" type="submit" [disabled]="!this.write_Access || !this.IsActivebutton ||!this.IsTerminalActive">Save</button>
            <button class="btn add-btn mr-1" type="button" [disabled]="!this.write_Access || !this.IsActivebutton ||!this.IsTerminalActive" (click)="OnSubmit('SaveNClose')">Save & Close</button>
            <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
          </div>
          <div *ngIf="!this.IsActivebutton" style="text-align: center;">
            <label class="errorlbl">Please change the status of this record to Active to make changes</label>
          </div>
          <div *ngIf="!this.IsTerminalActive" style="text-align: center;">
            <label class="errorlbl">Please change the status of this Terminal to Active to make changes</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="col-md-12">
        <div class="card-header">
          Terminal Group
          <div class="add-row">
            <button (click)="AddNew()" class="btn add-btn mr-1" type="button"
                    [disabled]="!this.write_Access || !this.IsTerminalActive">
              Add Terminal Group
            </button>
            <button (click)="Back()" class="btn btn-danger" type="button">Back</button>
          </div>
        </div>

        <!--<div *ngIf="!this.IsActive" style="text-align: right;">
        <label class="errorlbl">Please change the status of this record to Active to make changes</label>
        </div>-->
        <div class="card-body position-relative">
          <div class="ag-theme-balham" style="width: 100%; height:500px;">
            <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData" [IsSearch]="true"
                         [Currentpage]="this.Currentpage" (OnchangeCurrentpage)="OnchangeCurrentpage($event)" [IsExport]="true"
                         [paginationPageSize]="10" (OnActionClick)="OnActionClick($event)">
            </app-ag-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div>
  <app-terminal-group-items *ngIf="Mode=='Edit'" [WareHouseID]="WareHouseID"
                            [TerminalGroupID]="TerminalGroupID" [IsActive]="IsActive"
                            (onBackBtnClicked)="onBackBtnClicked()">
  </app-terminal-group-items>
</div>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept()"></confirmation-dialog-popup>
