<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="InventoryPrescriptionForm" name="InventoryPrescriptionForm" (ngSubmit)="onSave('Save')"
  class="Form-Horizontal">

  <!-- <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Inventory Prescription
              <div class="add-row">
                <button (click)="AddNew()" class="btn add-btn mb-1" type="button"
                  [disabled]="!this.write_Access ||!this.IsInventoryActive">Add
                  Inventory Prescription</button>
              </div>
            </div>
            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:400px;">
                <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData" [IsSearch]="true"
                  [IsExport]="true" [paginationPageSize]="this.PageSize" (OnPageSizeChange)="OnPageSizeChange($event)"
                  (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit' || Mode=='List'">
    <div class="card-header">
      {{Mode}} Inventory Prescription
    </div>
    <div class="card-body pb-0">
      <div class="tab-content pt-2 pb-1">
        <div class="tab-pane fade show active">
          <div class="form-border mt-0">
            <div class="row">

              <div class="col-12 col-md-12">
                <div class="form-group">
                  <label class="col-form-label">Instructions</label>
                  <textarea class="form-control" placeholder=" " type="text"
                    formControlName="PrescriptionInstructions"></textarea>
                </div>
              </div>
              <div class="col-12 col-md-12">
                <div class="form-group">
                  <label class="col-form-label">Special Instructions</label>
                  <textarea class="form-control" placeholder="" type="text"
                    formControlName="PrescriptionSpecialInstructions"></textarea>
                </div>
              </div>
              <div class="col-12 col-md-12">
                <div class="form-group">
                  <label class="col-form-label">CareInstructions</label>
                  <textarea class="form-control" placeholder="" type="text"
                    formControlName="PrescriptionCareInstructions"></textarea>
                </div>
              </div>
              <div class="col-12 col-md-12">
                <div class="form-group">
                  <label class="col-form-label">Warning</label>
                  <textarea class="form-control" placeholder="" type="text"
                    formControlName="PrescriptionWarning"></textarea>
                </div>
              </div>

            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn add-btn mr-1" type="submit"  [disabled]="!this.write_Access" >Save</button>
            <button class="btn add-btn mr-1" type="button"  [disabled]="!this.write_Access"  (click)="onSave('Close')">Save & Close</button>
            <button class="btn btn-danger" type="button" (click)="Back()">Close</button>
          </div>
        <!-- <div *ngIf="!this.IsActive" style="text-align: center;">
          <label class="errorlbl">Please change the status of this record to Active to make changes</label>
        </div> -->

        </div>
      </div>
    </div>
  </div>
</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)">
</confirmation-dialog-popup>
