<h1>Gift Voucher</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/home"]'>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a [routerLink]='["/home"]'>Point of Sales</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a (click)="Cancel()">Gift Voucher</a></li>

  </ol>
</nav>
<div #sectionNeedToScroll></div>
<div class="card">

  <div class="card-body pb-0">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Gift Voucher
          </div>

          <div class="card-body position-relative">
            <div class="ag-theme-balham" style="height:550px;">
              <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData" [IsSearch]="true"
                [IsExport]="true" [IsColumnsToFit]="true" [Currentpage]="this.Currentpage"
                (OnchangeCurrentpage)="OnchangeCurrentpage($event)" [paginationPageSize]="this.PageSize"
                (OnPageSizeChange)="OnPageSizeChange($event)">
              </app-ag-grid>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>