<form [formGroup]="BankForm" name="BankForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <h1>Bank <span *ngIf="Mode == 'Edit'">({{BankForm.get('Code').value}} - {{BankForm.get('Name').value}})</span></h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]='["/home"]'>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]='["/home"]'>System Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a (click)="Cancel()">Bank</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="Mode=='Add' || Mode=='Edit'"><a>{{Mode}} Bank</a></li>
    </ol>
  </nav>
  <div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Bank
              <div class="add-row">
                <button (click)="AddNew()" type="button"  class="btn add-btn mb-1" [disabled]="!this.write_Access">Add Bank</button>
              </div>
            </div>
            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad"
                             [ColumnDefs]="this.ColumnDefs"
                             [RowData]="this.RowData"
                             [IsSearch]="true"
                             [IsExport]="true"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             [paginationPageSize]="this.PageSize"
                             (OnPageSizeChange)="OnPageSizeChange($event)"
                             (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Bank"}' data-toggle="tab"
           (click)="OnTabChanged('Bank')" role="tab">Bank</a>

        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="BankAccount"}' data-toggle="tab"
           (click)="OnTabChanged('BankAccount')" role="tab">Details</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="BankAccountMapping"}' data-toggle="tab"
           (click)="OnTabChanged('BankAccountMapping')" role="tab">Bank Account Mapping</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Notes"}' data-toggle="tab"
           (click)="OnTabChanged('Notes')" role="tab">Notes</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Attachments"}'
           data-toggle="tab" (click)="OnTabChanged('Attachments')" role="tab">Documents</a>
      </div>
    </nav>
    <div class="card" *ngIf="Mode=='Add' || Mode=='Edit' && AccessTab=='Bank'">
      <div class="card-header">
        {{Mode}} Bank
      </div>
      <div class="card-body pb-0">
        <div class="tab-content pt-2 pb-1">
          <div class="tab-pane fade show active">
            <div class="form-border mt-0">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label "> Code <span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control" *ngIf="!read" [ngClass]="{ 'is-invalid': this.submitted && f.Code.errors}"
                           placeholder="" formControlName="Code" type="text" maxlength="50">
                    <input class="form-control" *ngIf="read" [ngClass]="{ 'is-invalid': this.submitted && f.Code.errors}"
                           placeholder="" formControlName="Code" type="text" maxlength="50" readonly>
                    <div class="errorlbl" *ngIf="submitted && f.Code.errors">Please enter code</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label "> Name</label>
                    <input class="form-control" placeholder="" formControlName="Name" type="text" maxlength="50">
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='BankAccount'">
      <app-bank-account [BankID]="this.BankID" [BankAccounts]="Accounts"
                        [bankaccountdetail]="bankaccountdetail"
                        [BankAccountDetailsArr]="BankAccountDetails"
                        (BankAccountArrayChange)="BankAccountArrayChange($event)"
                        (BankAccountChange)="BankAccountChange($event)"
                        (BankAccountAccessValueChange)="BankAccountAccessChange($event)"
                        [write_Access]="write_Access"
                        [IsActive]="IsActive"
                        [delete_Access]="delete_Access">
      </app-bank-account>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='BankAccountMapping'">
      <app-bank-account-mapping [BankID]="BankID"
                                (BankAccountMappingArrayChange)="BankAccountMappingArrayChange($event)"
                                [BankAccountMappingDetails]="BankAccountMappingDetails"
                                [write_Access]="write_Access"
                                [delete_Access]="delete_Access" #BankAccountMapping>
      </app-bank-account-mapping>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Notes'">
      <app-general-notes [RecID]="this.BankID"
                         [write_Access]="this.write_Access" [delete_Access]="this.delete_Access"  [IsActive]="IsActive">
      </app-general-notes>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Attachments'">
      <app-attachment-files [RecID]="this.BankID" [HeaderNames]="this.HeaderNames" [write_Access]="this.write_Access" [delete_Access]="this.delete_Access"  [IsActive]="IsActive">
      </app-attachment-files>
    </div>
    <div class="form-group text-center" *ngIf="AccessTab=='Bank' || AccessTab=='BankAccount' || AccessTab=='BankAccountMapping'">
      <button class="btn add-btn mr-1" type="submit" [disabled]="!this.write_Access||!this.IsActive">Save</button>
      <button class="btn add-btn mr-1" type="button" [disabled]="!this.write_Access ||  !this.IsActive" (click)="onSave('Close')">Save & Close</button>
      <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
    </div>
    <div *ngIf="!this.IsActive" style="text-align: center;">
      <label class="errorlbl">Please change the status of this record to Active to make changes</label>
    </div>
  </div>



</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>
