    <!-- <div class="card">
      <div class="card-header">
        CREDIT
      </div>
      <div class="card-body position-relative">
        <div class="row">
          <div class="form-group text-center">
            <button class="btn add-btn mr-1" type="button" (click)="AutomaticAllocation()">Automatic Allocation</button>
            
          </div> -->
          <!-- <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Search</label>
              <input type="text" class="form-control" />
            </div>
          </div> -->
          <!-- <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="w-100"></label> -->
              <!-- //<button class="btn add-btn sml-btn" type="button" (click)="SearchPurchaseOrder()">Search</button> -->
            <!-- </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="row">
              <div class="table-responsive table-padd"  style="overflow-y:auto;height:300px">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Receipt No</th>
                      <th></th>
                      <th>Date</th>
                      <th>Period</th> 
                      <th>Amount</th>
                      <th>Allocated Amount</th>
                      <th>Un Allocated Amount</th>
                      <th></th>
                      <th>Notes </th> 
                      <th>Aged out</th>
                                           
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="Selecting" *ngFor="let credit of DebtorCreditTranctionData; let i = index" [ngClass]="{ 'Selected': false}">
                      <td>{{credit.receiptNumber}}</td>
                      <td  style="cursor: pointer;"><i class="glyphicon glyphicon-eject"  (click)="OpenPrevious(Previous,credit.id,i)" aria-hidden="true"></i> </td> 
                      <td>{{credit.paymentDate}}</td>
                      <td></td>  
                      <td>{{credit.homeAmount}}</td>
                      <td>{{credit.allocatedAmount}}</td>
                      <td style="color: red;">{{credit.availableAmount}}</td>  
                      <td><i class="glyphicon glyphicon-eject"  (click)="OpenDebtor(Debtor,credit.homeAmount,credit.allocatedAmount,credit.availableAmount,credit.id,credit.receiptMainID,i)" aria-hidden="true"></i></td>
                      <td></td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="form-group text-center"> -->
              <!--<button class="btn add-btn mr-1" type="button" (click)="SelectProduct()">
                Select Product
              </button>-->
              <!-- <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button> -->
            <!-- </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--<a style="float: right;" data-dismiss="modal" #closeBtn (click)="Close()" class="close-modal">X</a>-->
<!-- ------------------------------------------------------------------------- -->
<div class="modal-content">
  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        CREDIT
      </div>
      <div class="card-body position-relative">
        <div class="row">
          <!-- <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">Search</label>
              <input type="text" class="form-control" />
            </div>
          </div> -->
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label class="w-100"></label>
              <!-- //<button class="btn add-btn sml-btn" type="button" (click)="SearchPurchaseOrder()">Search</button> -->
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="row">
              <div class="table-responsive table-padd"  style="overflow-y:auto;height:300px">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Invoice No</th>
                      <th>Date</th>
                      <th>Period</th> 
                      <th>Amount</th>
                      <th>Allocated Amount</th>
                      <th>Un Allocated Amount</th>
                      <th>Notes </th> 
                      <th>Aged out</th>                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="Selecting" *ngFor="let debit of DebtorCreditTranctionData" [ngClass]="{ 'Selected': false}">
                      <td>{{debit.transactionReferenceNumber}}</td>
                      <td>{{debit.dueDate}}</td>
                      <td></td>  
                      <td>{{debit.transactionAmountHome}}</td>
                      <td>{{debit.allocatedAmountHome}}</td>
                      <td style="color: red;">{{debit.unAllocatedAmountHome}}</td>  
                      <td></td>  
                      <td></td>  
                     
                      <!-- <td>{{good.isInvoiced}}</td>  
                      <td>{{good.deleteStatus}}</td>  -->
               
                                    
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="form-group text-center">
              <!--<button class="btn add-btn mr-1" type="button" (click)="SelectProduct()">
                Select Product
              </button>-->
              <!-- <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<a style="float: right;" data-dismiss="modal" #closeBtn (click)="Close()" class="close-modal">X</a>-->

  </div>
</div>    

<ng-template #Debtor>
  <div class="modal-content">
    <div class="modal-body">
      
      <a style="float: right;" data-dismiss="modal" #closeBtn (click)="closePopUp()"class="close-modal">X</a>
      <!-- <app-matrix-product-in [TransferID]="TransferID" [ProductID]="this.SelectedProductID"
        [SelectedTransferDetail_ID]="SelectedTransferDetail_ID" [WareHouseFromID]="this.WareHouseFromID"
        [WareHouseToID]="this.WareHouseToID" [CurrentStatus]="this.CurrentStatus" [SelectedQuantity]="SelectedQuantity"
        (OnCancel)="Closenote()">
      </app-matrix-product-in> -->
      <app-tranction-allocation
      [AmountToDisplay]="this.AmountToDisplay"  [AllocatedAmountToDisplay]="this.AllocatedAmountToDisplay" 
      [ReceiptMainID]="this.ReceiptMainID"
      [ReceiptDetailID]="this.ReceiptDetailID"
       [UnlocatedAmountToDisplay]="this.UnlocatedAmountToDisplay"
       [DebtorID]="this.DebtorID" (OnCancel)="closePopUp()">

      </app-tranction-allocation>

    </div>
  </div>
</ng-template>

<ng-template #Previous>
  <div class="modal-content">
    <div class="modal-body">
      
      <a style="float: right;" data-dismiss="modal" #closeBtn (click)="closePopUp()"class="close-modal">X</a>
      <!-- <app-matrix-product-in [TransferID]="TransferID" [ProductID]="this.SelectedProductID"
        [SelectedTransferDetail_ID]="SelectedTransferDetail_ID" [WareHouseFromID]="this.WareHouseFromID"
        [WareHouseToID]="this.WareHouseToID" [CurrentStatus]="this.CurrentStatus" [SelectedQuantity]="SelectedQuantity"
        (OnCancel)="Closenote()">
      </app-matrix-product-in> -->
      <app-previous-tranction [ReceiptDetailID]=this.ReceiptDetailID>

      </app-previous-tranction>

    </div>
  </div>
</ng-template>

<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>
