
<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="GenericChildTableDataForm" name="GenericChildTableDataForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="col-12 col-md-4">
            </div> 
            <div class="add-row">
              <button (click)="AddNew()" class="btn add-btn mr-1" type="button" [disabled]="!this.IsParentActive" >Add Child Table</button>
              <button (click)="CloseChild()" class="btn btn-danger" type="button">Back</button>
            </div>
            <div class="card-header" *ngIf="AgLoad">
              Child Table Data >> {{this.ParentName}}
            </div> 
            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad"
                             [ColumnDefs]="this.ColumnDefs"
                             [RowData]="this.RowData"
                             [IsSearch]="true"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             [IsExport]="true" 
                             [paginationPageSize]="10"
                             [LineEditField]="this.LineEditField"
                             [IsInlineEdit]="true"
                             (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
               
              </div>
            </div>
            
          </div>
        </div>
      </div>
   
    </div>
  </div>
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <div class="card-header">
      {{Mode}}  Generic Table Data for Child table "{{this.ParentName}}"
    </div>
    <div class="card-body pb-0">
      <div class="tab-content pt-2 pb-1">
        <div class="tab-pane fade show active">
          <div class="form-border mt-0">
            
            <div class="row">
             
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Child Data Code </label>
                  <input class="form-control textarea" placeholder="Child DataCode" type="text" formControlName="DataCode" name="BinCode" maxlength="50">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Child Data Name</label>
                  <input class="form-control" placeholder="Data Name" type="text" formControlName="DataName" maxlength="255">
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn add-btn mr-1" type="button" (click)="onSave('Save')" [disabled]="!this.IsActive || !this.IsParentActive" >Save Child data</button>
      <button class="btn add-btn mr-1" type="button" (click)="onSave('Close')" [disabled]="!this.IsActive || !this.IsParentActive">Save Child data & Close</button> 
      <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
    </div>
  </div>
</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>

