<form [formGroup]="TaxableImportsForm" name="TaxableImportsForm" (ngSubmit)="onSave()" class="Form-Horizontal">
  <div class="card-header">Taxable Imports Form</div>
  <div class="card-body pb-0">
    <div class="tab-content pt-2 pb-1">
      <button [disabled]="this.Status =='Finalise'" class="btn add-btn"
        style="float: right;margin-right: 10px; margin-bottom: 5px;" type="button"
        (click)="AddNewTaxableImport()">Add</button>
      <div class="tab-pane fade show active">
        <div class="form-border mt-0">
          <div class="table-responsive table-padd">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Vendor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                  <th>VendorLedger</th>
                  <th>ImportCost<br>Description</th>
                  <th>TaxLedger</th>
                  <th>TaxRate <br>Description</th>
                  <th>TaxRate</th>
                  <th>TaxAmount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                  <th>Amount</th>
                  <th>Invoiced</th>
                  <!-- <th>Vendor Invoice</th> -->
                  <th>Invoiced Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                  <th>Due
                    Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </th>
                  <th>InvoiceNo</th>
                  <!-- <th>Reference</th> -->
                  <th width="50px"></th>
                </tr>
              </thead>
              <tbody formArrayName="TaxableImports">
                <tr *ngFor="let taxableImports of TaxableImportsForm.get('TaxableImports').controls; let i = index;"
                  [formGroupName]="i">
                  <td>
                    <!-- <input class="form-control" placeholder=" " formControlName="Creditor" type="text"> -->
                    <select class="form-control" formControlName="Creditor">
                      <option value="-1">--Select Vendor--</option>
                      <option *ngFor="let vendor of vendors" [value]="vendor.id">
                        {{vendor.vendorCode}} - {{vendor.vendorAccountName}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" formControlName="VendorLedger">
                      <option value="-1">--Select Ledger--</option>
                      <option *ngFor="let ledger of ledger" [value]="ledger.id">
                        {{ledger.name}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control" placeholder=" " formControlName="Description" type="text">
                  </td>
                  <td>
                    <select class="form-control" formControlName="TaxLedger">
                      <option value="-1">--Select Ledger--</option>
                      <option *ngFor="let ledger of ledger" [value]="ledger.id">
                        {{ledger.name}}
                      </option>
                    </select>
                  </td>
                  <td>

                    <select class="form-control" (change)="onTaxDescriptionChange($event,i)"
                      formControlName="TaxRateDescription">
                      <option value="-1">Select TaxRate</option>
                      <option *ngFor="let tax of taxcodes" [value]="tax.id">
                        {{tax.taxCodeName}}
                      </option>
                    </select>
                  </td>
                  <td class="text-right">
                    {{taxableImports.get('TaxRate').value | number:'1.4-4'}}
                  </td>
                  <td>
                    <input class="form-control text-right" placeholder=" "
                      (input)="onAmountChange(taxableImports.get('TaxAmount').value,i)" formControlName="TaxAmount"
                      type="text" appFourDigitDecimaNumber>
                  </td>
                  <td>
                    <input class="form-control text-right" placeholder=" " formControlName="Amount" type="text"
                      appFourDigitDecimaNumber>
                  </td>

                  <td>
                    <div class="form-group">
                      <input type="checkbox" style="margin-left: 17px;margin-top: 7px;" formControlName="Invoiced"
                        disabled />
                    </div>

                  </td>
                  <td>
                    <app-date-time-picker formControlName="InvoiceDate" [showTimePicker]="false">
                    </app-date-time-picker>
                  </td>
                  <td>
                    <app-date-time-picker formControlName="DueDate" [showTimePicker]="false">
                    </app-date-time-picker>
                  </td>
                  <td>
                    <input class="form-control" placeholder=" " formControlName="InvoiceNo" type="text">
                  </td>

                  <td (click)="Remove(i,taxableImports)">
                    <i class="re fa fa-trash-o"></i>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin-top: 13px;" class="form-group text-center">
            <button [disabled]="this.Status =='Finalise'" class="btn add-btn mr-1" type="submit">Submit Taxable
              Imports</button>
            <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
