<nav aria-label="breadcrumb">
</nav>
<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="WareHouseBinForm" name="WareHouseBinForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <div class="card-header">
      {{Mode}} WareHouse Bin
    </div>
    <div class="card-body pb-0">
      <div class="tab-content pt-2 pb-1">
        <div class="tab-pane fade show active">
          <div class="form-border mt-0">
            <div class="row">
              <!--  <div class="col-12 col-md-4">
                <div class="form-group">
                  <label class="col-form-label"> WareHouse Name</label>
                  <select class="form-control" formControlName="WareHouseName">
                    <option value="-1">--Select WareHouse Name--</option>
                    <option *ngFor="let wareHouseBin of WareHouseBins" [value]="wareHouseBin.id">
                      {{wareHouseBin.wareHouseName}}
                    </option>
                  </select>
                </div>
              </div> -->
              <div class="col-8 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Bin Code<span class="mandatoryFieldColor">*</span></label>
                  <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.Submitted && f.BinCode.errors}" type="text"
                         formControlName="BinCode">
                  <div class="errorlbl" *ngIf="this.Submitted && f.BinCode.errors">  Please enter bin code</div>
                </div>
              </div>
              <div class="col-8 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">&nbsp;Bin Name</label>
                  <input class="form-control" maxlength="255" type="text" formControlName="BinName">
                </div>
              </div>
              <div class="col-12 col-md-3" style="margin-top: 25px;">
                <div class="form-group">
                  <input type="checkbox" [checked]="this.WareHouseBinForm.get('Default').value" formControlName="Default" />
                  <label style="margin-left: 5px;">  Default</label>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn add-btn mr-1" type="submit" [disabled]="!this.write_Access||  !this.IsActive || !IsActiveParent">Save</button>
            <button class="btn add-btn mr-1" type="button" [disabled]="!this.write_Access ||  !this.IsActive || !IsActiveParent" (click)="onSave('Close')">Save & Close</button>
            <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
          </div>
          <div *ngIf="!this.IsActive || !IsActiveParent" style="text-align: center;">
            <label class="errorlbl">Please change the status of this record to Active to make changes</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              WareHouse Bin
              <div class="add-row">
                <button (click)="AddNew()" type="button" class="btn add-btn mb-1" [disabled]="!this.write_Access|| !IsActiveParent">Add  WareHouse Bin</button>
              </div>
            </div>

            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad"
                             [ColumnDefs]="this.ColumnDefs"
                             [RowData]="this.RowData"
                             [IsSearch]="true"
                             [IsExport]="true"
                             [IsEditable]="true"
                             [paginationPageSize]="this.PageSize"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             (OnPageSizeChange)="OnPageSizeChange($event)"
                             (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>


