<!--<div class="loading" *ngIf="Loading">Loading&#8230;</div>-->
<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="ForgotPasswordForm" name="ForgotPasswordForm" (ngSubmit)="OnSendRequest()" class="Form-Horizontal" style="width:100%">
  <div class="login-page">
    <div class="container">
      <figure class="float-left w-100 text-center pt-3 pb-3"><img src="assets/images/LinkLogoLogin.jpg" alt="Link Business Solutions - ERP" /></figure>

      <div class="login-form">
        <h1>Forgot Password</h1>
        <div class="alert alert-success" *ngIf="Alert == 'Success'" role="alert">
          {{Message}}
          <!--The mail has been sent to registerd email.<br />Please use reset password link to update new password-->
        </div>
        <div class="alert alert-danger" *ngIf="Alert == 'Error'" role="alert">
          {{Message}}
        </div>
        <div *ngIf="Step != 'Step4'">
          <div class="form-group">
            <label>User name</label>
            <input type="text" class="form-control" placeholder="Enter your Username" formControlName="UserName" [ngClass]="{ 'is-invalid': this.Submitted && f.UserName.errors}">
            <div class="errorlbl" *ngIf="Submitted && f.UserName.errors?.required">
              Please enter Username
            </div>
          </div>
          <div *ngIf="Step == 'Step2'">
            <div class="row">
              <div class="col-12 col-md-6">
                <label class="cust-radio">
                  Send Reset link Email
                  <input type="radio" value="Email" formControlName="ResetOption"> <!--name="ResetOption"-->
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-12 col-md-6">
                <label class="cust-radio">
                  Security Question
                  <input type="radio" value="SecurityQuestion" formControlName="ResetOption"><!--name="ResetOption"-->
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <!--<div class="form-group">
              <label style="display:inline-block; width:100%">Password Reset Option</label>
              <div style="display:inline-block; width:50%">
                <input type="radio" class="form-control" name="ResetOption" style="display: inline-block;
                  width: auto;
                  margin-right: 10px;
                  padding: 0px;
                  height: auto;
                  margin-top: 3px;
                  float: left;" value="Email" formControlName="ResetOption" (change)="OnOptionChanged()"> Send E-mail
              </div>
              <div style="display:inline-block; width:50%">
                <input type="radio" class="form-control" name="ResetOption" style=" display: inline-block;width: auto;margin-right: 10px;padding: 0px;height: auto;margin-top: 3px;float: left;" value="SecurityQuestion"
                       formControlName="ResetOption"  (change)="OnOptionChanged()"> Security Question
              </div>
            </div>-->
          </div>
          <div *ngIf="Step == 'Step3' && f.ResetOption.value=='SecurityQuestion'">
            <div class="form-group">
              <label class="col-form-label">Security Question</label>
              <!--<input class="form-control" type="text" formControlName="SecurvityQuestion">-->
              <select class="form-control" formControlName="SecurityQuestion" [ngClass]="{ 'is-invalid': this.Submitted && f.SecurityQuestion.errors}">
                <option value="-1">--Select Security Question--</option>
                <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                <option value="What was your first car?">What was your first car?</option>
                <option value="What elementary school did you attend?">What elementary school did you attend?</option>
                <option value="What is the name of the town where you were born?">What is the name of the town where you were born?</option>
                <option value="When you were young, what did you want to be when you grew up?">When you were young, what did you want to be when you grew up?</option>
                <option value="Who was your childhood hero?">Who was your childhood hero?</option>
                <option value="Where was your best family vacation as a kid?">Where was your best family vacation as a kid?</option>
              </select>
              <div class="errorlbl" *ngIf="Submitted &&  f.SecurityQuestion.errors?.notEqual">
                Please select the Security Question
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Security Answer</label>
              <input class="form-control" type="text" formControlName="SecurityAnswer" [ngClass]="{ 'is-invalid': this.Submitted && f.SecurityAnswer.errors}">
              <div class="errorlbl" *ngIf="Submitted && f.SecurityAnswer.errors?.required">
                Please enter Security Answer
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn add-btn mr-1" (click)="Continue()">Continue</button>
            <!--<button type="submit" class="btn add-btn mr-1" *ngIf="Option == 'SendMail' || (Step == 'SecurityQuestion' && Option == 'SecurityQuestion')">Send Request</button>-->
            <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
            <!--<input type="submit" class="btn add-btn">-->
            <!--<a [routerLink]='["/login"]' class="float-right pt-1">Login</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
