.cust-radio {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
}

  .cust-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .cust-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #ced4da;
  }

  .cust-radio:hover input ~ .checkmark {
    background-color: #ccc
  }

  .cust-radio input:checked ~ .checkmark {
    background-color: #006c61;
    border: 1px solid #ced4da;
  }

  .cust-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .cust-radio input:checked ~ .checkmark:after {
    display: block;
  }

  .cust-radio .checkmark:after {
    left: 6px;
    top: 5px;
    width: 7px;
    height: 7px;
    background: #ffffff;
    border-radius: 50px;
  }
