<h1> Inventory Price Level ({{this.InventoryLevelForm.get('Description').value}})</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inventory </li>
    <li class="breadcrumb-item active" aria-current="page">Inventory Price Level</li>
  </ol>
</nav>
<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="InventoryLevelForm" name="InventoryLevelForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-header">
      Inventory Price Level
      <!-- <div class="add-row">
        <button (click)="AddNew()" class="btn add-btn mb-1">Add Inventory Price Level</button>
      </div> -->
    </div>
    <div class="card-body position-relative">
      <div class="ag-theme-balham" style="width: 100%; height:500px;">
        <app-ag-grid *ngIf="AgLoad"
                     [ColumnDefs]="this.ColumnDefs"
                     [RowData]="this.RowData"
                     [IsSearch]="true"
                     [IsExport]="true"
                     [paginationPageSize]="this.PageSize"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             (OnPageSizeChange)="OnPageSizeChange($event)"
                             (OnActionClick)="OnActionClick($event)">
        </app-ag-grid>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Price"}' data-toggle="tab"
           (click)="AccessTab='Price'" role="tab">Inventory Price Level</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Notes"}' data-toggle="tab"
           (click)="AccessTab='Notes'" role="tab">Notes</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Attachments"}' data-toggle="tab"
           (click)="AccessTab='Attachments'" role="tab">Documents</a>
      </div>
    </nav>
    <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'&& AccessTab=='Price'">
      <div class="card-header">
        {{Mode}} Inventory Price Level
      </div>
      <div class="card-body pb-0">
        <div class="tab-content pt-2 pb-1">
          <div class="tab-pane fade show active">
            <div class="form-border mt-0">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label "> Price Level</label>
                    <input class="form-control" formControlName="PriceLevel" type="number">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label ">Description</label>
                    <input class="form-control" maxlength="255" formControlName="Description" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn add-btn mr-1" type="submit" [disabled]="!this.write_Access||  !this.IsActive">Save</button>
              <button class="btn add-btn mr-1" type="button" [disabled]="!this.write_Access||  !this.IsActive" (click)="onSave('Close')">Save & Close</button>
              <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
            </div>
            <div *ngIf="!this.IsActive" style="text-align: center;">
              <label class="errorlbl">Please change the status of this record to Active to make changes</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Notes'">
      <app-general-notes [RecID]="this.SelectedPrice"
                         [write_Access]="this.write_Access" [delete_Access]="this.delete_Access" [IsActive]="IsActive">
      </app-general-notes>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Attachments'">
      <app-attachment-files [RecID]="this.SelectedPrice"
                            [HeaderNames]="this.HeaderNames"
                            [write_Access]="this.write_Access" [delete_Access]="this.delete_Access" [IsActive]="IsActive">
      </app-attachment-files>
    </div>
  </div>
</form>


