<h1> Product Style Matrix <span *ngIf="Mode=='Edit'">({{ProductStyleMatrixForm.get('StyleMatrixCode').value}} - {{ProductStyleMatrixForm.get('StyleMatrixName').value}})</span> </h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/home"]'>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a [routerLink]='["/home"]'>Inventory</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a (click)="Cancel()"> Product Style Matrix</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="Mode=='Add' || Mode=='Edit'"><a>{{Mode}} Product Style Matrix</a></li>
  </ol>
</nav>
<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="ProductStyleMatrixForm" name="ProductStyleMatrixForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Product Style Matrix
              <div class="add-row">
                <button (click)="AddNew()" class="btn add-btn mb-1" type="button" [disabled]="!this.write_Access">Add Product Style Matrix</button>
              </div>
            </div>
            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad"
                             [ColumnDefs]="this.ColumnDefs"
                             [RowData]="this.RowData"
                             [IsSearch]="true"
                             [IsExport]="true"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             [paginationPageSize]="this.PageSize"
                             (OnPageSizeChange)="OnPageSizeChange($event)"
                             (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div  class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="ProductsMatrix"}' data-toggle="tab"
        (click)="AccessTab='ProductsMatrix'" role="tab">Products Matrix</a>
        <a class="nav-item nav-link"  *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Details"}' data-toggle="tab"
           (click)="AccessTab='Details'" role="tab">Details</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Notes"}' data-toggle="tab"
           (click)="AccessTab='Notes'" role="tab">Notes</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'"  [ngClass]='{"active": AccessTab=="Attachments"}' data-toggle="tab"
           (click)="AccessTab='Attachments'" role="tab">Documents</a>
      </div>
    </nav>
    <div class="card" *ngIf="Mode=='Add' || Mode=='Edit' && AccessTab=='ProductsMatrix'">
      <div class="card-header">
        {{Mode}}  Product Style Matrix
      </div>
      <div class="card-body pb-0">
        <div class="tab-content pt-2 pb-1">
          <div class="tab-pane fade show active">
            <div class="form-border mt-0">
              <div class="row">
  
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Style Matrix Code <span class="mandatoryFieldColor">*</span> </label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.Submitted && f.StyleMatrixCode.errors}" type="text"
                           formControlName="StyleMatrixCode">
                    <!-- <input class="form-control" *ngIf=addreadonly maxlength="50" [ngClass]="{ 'is-invalid': this.Submitted && f.StyleMatrixCode.errors}" type="text"
            formControlName="StyleMatrixCode" readonly> -->
                    <div class="errorlbl" *ngIf="this.Submitted && f.StyleMatrixCode.errors">  Please enter matrix code</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">&nbsp; Style Matrix Name</label>
                    <input class="form-control" maxlength="255" type="text" formControlName="StyleMatrixName">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn add-btn mr-1" type="submit" [disabled]="!this.write_Access ||!this.IsActive">Save</button>
              <!-- <button class="btn add-btn mr-1" type="button" (click)="OnSaveProductMatrixDetails()">Save Product Style Matrix Details</button> -->
              <button class="btn add-btn mr-1"  type="button" [disabled]="!this.write_Access ||  !this.IsActive" (click)="onSave('Close')">Save & Close</button>
              <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
            </div>
            <div *ngIf="!this.IsActive" style="text-align: center;">
              <label class="errorlbl">Please change the status of this record to Active to make changes</label>
            </div>
          </div>
          </div>
      </div>
  
   
    </div>
    <div *ngIf="Mode=='Edit'&& AccessTab=='Details'">
      <app-product-style-matrix-detail [StyleMatrixID]="this.StyleMatrixID" [isActive]="this.IsActive" [Write_Access]="this.write_Access" (OnMatrixClose)="Cancel()">

      </app-product-style-matrix-detail>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Notes'">
      <app-general-notes [RecID]="this.StyleMatrixID"
                         [write_Access]="this.write_Access" [delete_Access]="this.delete_Access" [IsActive]="IsActive">
      </app-general-notes>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Attachments'">
      <app-attachment-files [RecID]="this.StyleMatrixID"
                            [write_Access]="this.write_Access" [delete_Access]="this.delete_Access" [IsActive]="IsActive">
      </app-attachment-files>
    </div>
  </div>



</form>

<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>



