<form [formGroup]="MakeModelForm" name="MakeModelForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <h1>{{this.MakeName}} MakeModel <span *ngIf="Mode == 'Edit'">({{MakeModelForm.get('ModelDescription').value}})</span></h1>
  
  <nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]='["/home"]'>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a [routerLink]='["/home"]'>Inventory </a></li>
      <li class="breadcrumb-item active" aria-current="page"><a (click)="Back()">Make</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a (click)="Cancelmodel()">MakeModel</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="Mode=='Add' || Mode == 'Edit'"><a>{{Mode}} MakeModel</a></li>
    </ol>
  </nav>
  <div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
  <div class="card" *ngIf="Mode=='List'">

    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              MakeModel

              <div class="add-row">
                <button (click)="AddNew()" class="btn add-btn mb-1" type="button" [disabled]="!this.write_Access || !ISParentActive">Add Model</button>&nbsp;
                <button (click)="Back()" class="btn btn-danger" type="button">Back</button>
              </div>
            </div>

            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:400px;">
                <app-ag-grid *ngIf="AgLoad"
                             [ColumnDefs]="this.ColumnDefs"
                             [RowData]="this.RowData"
                             [IsSearch]="true"
                             [IsExport]="true"
                            [paginationPageSize]="this.PageSize"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             (OnPageSizeChange)="OnPageSizeChange($event)"
                             (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">


        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="MakeModel"}'
           data-toggle="tab" (click)="AccessTab='MakeModel'" role="tab">Model</a>

        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Series"}'
           data-toggle="tab" (click)="AccessTab='Series'" role="tab">Series</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Engine"}'
           data-toggle="tab" (click)="AccessTab='Engine'" role="tab">Engine</a>
           <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Notes"}' data-toggle="tab"
           (click)="AccessTab='Notes'" role="tab">Notes</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Attachments"}'
           data-toggle="tab" (click)="AccessTab='Attachments'" role="tab">Documents</a>
       
      </div>
    </nav>
    <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'&& AccessTab=='MakeModel'">
      <div class="card-header">
        {{Mode}}  MakeModel
      </div>
      <div class="card-body pb-0">
        <div class="tab-content pt-2 pb-1">
          <div class="tab-pane fade show active">
            <div class="form-border mt-0">
              <div class="row">
  
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Description <span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control" maxlength="255"
                      [ngClass]="{ 'is-invalid': this.submitted && f.ModelDescription.errors}" type="text"
                      formControlName="ModelDescription">
                  </div>
                  <div class="errorlbl" *ngIf="this.submitted && f.ModelDescription.errors"> Please enter description
                  </div>
                </div>
               
                
  
              </div>
            </div>
  
  
            <div class="form-group text-center">
              <button class="btn add-btn mr-1" type="submit" [disabled]="!this.write_Access|| !IsActive || !ISParentActive">Save</button>
              <button class="btn add-btn mr-1"  type="button" [disabled]="!this.write_Access ||!IsActive || !ISParentActive" (click)="onSave('Close')">Save & Close</button>
              <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
            </div>
            <div *ngIf="!this.IsActive || !ISParentActive" style="text-align: center;">
              <label class="errorlbl">Please change the status of this record to Active to make changes</label>
            </div>
          </div>
        </div>
      </div>
  
  
  
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Series'">
      <app-series *ngIf="Mode=='Edit'" [MakeID]="this.SelectedMakeID" [SelectedModelID]="this.SelectedModelID" [ISParentActive]="ISParentActive" [IsModelActive]="IsActive">
      </app-series>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Engine'">
      <app-engine *ngIf="Mode=='Edit'" [MakeID]="this.SelectedMakeID"  [IsModelActive]="IsActive" [SelectedModelID]="this.SelectedModelID" [ISParentActive]="ISParentActive" [Delete_Access]="this.delete_Access">
      </app-engine>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Notes'">
      <app-general-notes [RecID]="this.SelectedMakeID"  [IsActive]="IsActive"
                         [write_Access]="this.write_Access">
      </app-general-notes>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Attachments'">
      <app-attachment-files [RecID]="this.SelectedMakeID" [HeaderNames]="this.HeaderNames"  [IsActive]="IsActive"
                            [write_Access]="this.write_Access" [delete_Access]="this.delete_Access">
      </app-attachment-files>
    </div>
  </div>
  

</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>

