<!-- 
<form  class="Form-Horizontal" >

  <div class="card">

    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Purchase-Order-Audit

             
            </div>

            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad"
                [ColumnDefs]="GoodsReceivedNoteCols"
                [RowData]="this.GoodsReceivedNotes"
                [IsSearch]="true"
                [IsExport]="true"
                [paginationPageSize]="10"
                (OnActionClick)="OnActionClick($event)">

                </app-ag-grid>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
 -->

 

  <div class="modal-content">
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          Purchase Order Search
        </div>
        <div class="card-body position-relative">
          <div class="row">
            <!-- <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="col-form-label">Search</label>
                <input type="text" class="form-control" />
              </div>
            </div> -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="w-100"></label>
                <!-- //<button class="btn add-btn sml-btn" type="button" (click)="SearchPurchaseOrder()">Search</button> -->
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="table-responsive table-padd"  style="overflow-y:auto;height:300px">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>GRN No</th>
                        <th>PurchaseOrder No</th>
                        <th>Warehouse</th> 
                        <th>Reference</th>
                        <th>Vendor</th>
                        <th>Received-Date</th> 
                        <th>Purchase Status </th>
                        <th>Reversed</th>
                        <th>Invoiced</th> 
                        <th>Status</th>                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="Selecting" *ngFor="let good of GoodsReceivedNotes" [ngClass]="{ 'Selected': false}">
                        <td>{{good.grnNo}}</td>
                        <td>{{good.purchaseOrderNumber}}</td>
                        <td>{{good.wareHouseName}}</td>  
                        <td>{{good.supplierDeliveryReference}}</td>
                        <td>{{good.vendorAccountName}}</td>
                        <td>{{good.receivedDate}}</td>  
                        <td>{{good.statusName}}</td>
                        <td>{{good.isReversed}}</td>
                        <td>{{good.isInvoiced}}</td>  
                        <td>{{good.deleteStatus}}</td> 
                        <td style="cursor: pointer;" (click)="SelectPurchaseOrder(good.id)"><i class="bi fa fa-align-justify" aria-hidden="true"></i></td> 
                                      
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-group text-center">
                <!--<button class="btn add-btn mr-1" type="button" (click)="SelectProduct()">
                  Select Product
                </button>-->
                <!-- <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<a style="float: right;" data-dismiss="modal" #closeBtn (click)="Close()" class="close-modal">X</a>-->

    </div>
  </div>


