.col2{
    width: 100px;
}

.col1{
    width:50px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width:750px;
    height:600px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    margin-left: -120px;
    border-radius: .3rem;
    outline: 0;
}