<div class="loading" *ngIf="Loading">Loading&#8230;</div>

<form [formGroup]="SetNewPasswordForm" name="SetNewPasswordForm" (ngSubmit)="SetNewPassword()" class="Form-Horizontal" style="width:100%">
  <div class="dent-app-login">
    <div class="left-side text-center">
      <!--<img src="assets/images/crsproject/logo-login.jpg" alt="Commission of Railway Safety" />-->
    </div>
    <div class="login-side">
      <div class="login-form">
        <h1>Reset of Password</h1>
        <div class="form-group">
          <label class="col-form-label">New Password</label>
          <input class="form-control" type="password" formControlName="NewPassword" [ngClass]="{ 'is-invalid': this.Submitted && f.NewPassword.errors}">
          <div class="errorlbl" *ngIf="Submitted && f.NewPassword.errors?.required">
            Please enter New Password
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Confirm New Password</label>
          <input class="form-control" type="password" formControlName="ConfirmNewPassword" appConfirmEqualValidator="NewPassword" [ngClass]="{ 'is-invalid': this.Submitted && f.ConfirmNewPassword.errors}">
          <div class="errorlbl" *ngIf="Submitted && f.ConfirmNewPassword.errors?.required">
            Please enter Confirm New Password
          </div>
          <div class="errorlbl" *ngIf="Submitted && f.ConfirmNewPassword.errors?.notEqual">
            Confirm Password not matched
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Security Question</label>
          <!--<input class="form-control" type="text" formControlName="SecurityQuestion">-->
          <select class="form-control" formControlName="SecurityQuestion" [ngClass]="{ 'is-invalid': this.Submitted && f.SecurityQuestion.errors}">
            <option value="-1">--Select Security Question--</option>
            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
            <option value="What is the name of your first pet?">What is the name of your first pet?</option>
            <option value="What was your first car?">What was your first car?</option>
            <option value="What elementary school did you attend?">What elementary school did you attend?</option>
            <option value="What is the name of the town where you were born?">What is the name of the town where you were born?</option>
            <option value="When you were young, what did you want to be when you grew up?">When you were young, what did you want to be when you grew up?</option>
            <option value="Who was your childhood hero?">Who was your childhood hero?</option>
            <option value="Where was your best family vacation as a kid?">Where was your best family vacation as a kid?</option>
          </select>
          <div class="errorlbl" *ngIf="Submitted &&  f.SecurityQuestion.errors?.notEqual">
            Please select the Security Question
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Security Answer</label>
          <input class="form-control" type="text" formControlName="SecurityAnswer" [ngClass]="{ 'is-invalid': this.Submitted && f.SecurityAnswer.errors}">
          <div class="errorlbl" *ngIf="Submitted && f.SecurityAnswer.errors?.required">
            Please enter Security Answer
          </div>
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="btn add-btn">Reset Password</button>
        </div>
      </div>
    </div>
  </div>
</form>
