<form [formGroup]="DebtorForm" name="DebtorForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal"></form>
<h1> Debtor<span *ngIf="Mode == 'Edit'">({{DebtorForm.get('DebtorCode').value}} - {{DebtorForm.get('DebtorAccountName').value}})</span></h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/home"]'>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a [routerLink]='["/home"]'>Inventory</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a (click)="Cancel()">Debtor</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="Mode=='Add' || Mode=='Edit'"><a>{{Mode}} Debtor</a></li>
  </ol>
</nav>
<!-- <div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div> -->
<form [formGroup]="DebtorForm" name="DebtorForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Debtor
              <div class="add-row">
                <button (click)="AddNew()" type="button" class="btn add-btn mb-1" [disabled]="!this.write_Access"> Add Debtor</button>
              </div>
            </div>
            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData" [IsSearch]="true"
                             [IsExport]="true"
                             [paginationPageSize]="this.PageSize"
                             [Currentpage]="this.Currentpage"
                             (OnchangeCurrentpage)="OnchangeCurrentpage($event)"
                             (OnPageSizeChange)="OnPageSizeChange($event)"
                             (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Debtor"}' data-toggle="tab"
           (click)="AccessTab='Debtor'" role="tab">Debtor</a>
           <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Debit"}' data-toggle="tab"
           (click)="AccessTab='Debit'" role="tab">Debit</a>
           <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Credit"}' data-toggle="tab"
           (click)="AccessTab='Credit'" role="tab">Credit</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Notes"}' data-toggle="tab"
           (click)="AccessTab='Notes'" role="tab">Notes</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Attachments"}' data-toggle="tab"
           (click)="AccessTab='Attachments'" role="tab">Documents</a>
           
      </div>
    </nav>
    <div *ngIf="Mode=='Add' || Mode=='Edit' && AccessTab=='Debtor'">
      <div class="card-header">
        {{Mode}} Debtor
      </div>
      <div class="card-body pb-0">
        <div class="tab-content pt-2 pb-1">
          <div class="tab-pane fade show active">
            <div class="form-border mt-0">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Debtor Code<span class="mandatoryFieldColor">*</span> </label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.DebtorCode.errors}"
                           formControlName="DebtorCode" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.DebtorCode.errors">Please enter debtor code</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Debtor Account Name<span class="mandatoryFieldColor">*</span> </label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.DebtorAccountName.errors}"
                           formControlName="DebtorAccountName" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.DebtorAccountName.errors">Please enter  debtor account name</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Tax Identification Number  </label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.TaxIdentificationNumber.errors}"
                           formControlName="TaxIdentificationNumber" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Trading Name   </label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.TradingName.errors}"
                           formControlName="TradingName" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Company Name    </label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.CompanyName.errors}"
                           formControlName="CompanyName" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Proprietor Name</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.ProprietorName.errors}"
                           formControlName="ProprietorName" type="text">
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Laddr 1</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Laddr1.errors}"
                           formControlName="Laddr1" type="text">
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Laddr 2</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Laddr2.errors}"
                           formControlName="Laddr2" type="text">
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Laddr 3</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Laddr3.errors}"
                           formControlName="Laddr3" type="text">
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Paddr 1</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Paddr1.errors}"
                           formControlName="Paddr1" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Paddr 2</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Paddr2.errors}"
                           formControlName="Paddr2" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Paddr 3</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Paddr3.errors}"
                           formControlName="Paddr3" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Zip Code</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.ZipCode.errors}"
                           formControlName="ZipCode" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Phone</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Phone.errors}"
                           formControlName="Phone" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Fax</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.Fax.errors}"
                           formControlName="Fax" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">EmailAddress</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.EmailAddress.errors}"
                           formControlName="EmailAddress" type="text">
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Bank Account Name</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.BankAccountName.errors}"
                           formControlName="BankAccountName" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Bank Name</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.BankName.errors}"
                           formControlName="BankName" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Bank Account Number</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.BankAccountNumber.errors}"
                           formControlName="BankAccountNumber" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">BSB</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.BSB.errors}"
                           formControlName="BSB" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Bank Swift Code</label>
                    <input class="form-control" maxlength="255" [ngClass]="{ 'is-invalid': this.submitted && f.BankSwiftCode.errors}"
                           formControlName="BankSwiftCode" type="text">
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Credit Limit</label>
                    <input class="form-control" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.CreditLimit.errors}"
                           formControlName="CreditLimit" type="text">
                  </div>
                </div>

                <div class="col-8 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label "> Last Purchase Date</label>
                    <!--<input class="form-control"
                    #datepickerFull="bsDatepicker"
                    bsDatepicker
                    [value]="DebtorForm.get('LastPurchaseDate').value | date:'dd-MM-yyyy, h:mm:ss a'"
                    formControlName="LastPurchaseDate"
                    [bsConfig]="datePickerConfig">-->
                    <app-date-time-picker formControlName="LastPurchaseDate" [showTimePicker]="false"></app-date-time-picker>
                  </div>
                </div>
                <div class="col-8 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label "> Last Payment Date</label>
                    <!--<input class="form-control"
                    #datepickerFull="bsDatepicker"
                    bsDatepicker
                    [value]="DebtorForm.get('LastPaymentDate').value | date:'dd-MM-yyyy, h:mm:ss a'"
                    formControlName="LastPaymentDate"
                    [bsConfig]="datePickerConfig">-->
                    <app-date-time-picker formControlName="LastPaymentDate" [showTimePicker]="false"></app-date-time-picker>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Terms Days</label>
                    <input class="form-control" [ngClass]="{ 'is-invalid': this.submitted && f.TermsDays.errors}"
                           formControlName="TermsDays" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">PurchaseOrder Validity Days</label>
                    <input class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': this.submitted && f.PurchaseOrderValidityDays.errors}"
                           formControlName="PurchaseOrderValidityDays" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Current Balance</label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.CurrentBalance.errors}"
                           formControlName="CurrentBalance" type="text">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Period 1<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.Period1.errors}"
                           formControlName="Period1" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.Period1.errors">Please enter period 1</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Period 2<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.Period2.errors}"
                           formControlName="Period2" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.Period2.errors">Please enter period 2</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Period 3<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.Period3.errors}"
                           formControlName="Period3" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.Period3.errors">Please enter period 3</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Period 4<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.Period4.errors}"
                           formControlName="Period4" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.Period4.errors">Please enter period 4</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Currency</label>
                    <select name="Country" class="form-control" formControlName="CurrencyID">
                      <option value="00000000-0000-0000-0000-000000000000">--Select Currency--</option>
                      <option *ngFor="let currency of Currency" [value]="currency.id">
                        {{currency.currencyCode}} - {{currency.currecnyName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">FX Current Balance<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.FXCurrentBalance.errors}"
                           formControlName="FXCurrentBalance" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.FXCurrentBalance.errors">Please enter fx current balance</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">FX Period 1<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.FXPeriod1.errors}"
                           formControlName="FXPeriod1" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.FXPeriod1.errors">Please enter fx period 1</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">FX Period 2<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.FXPeriod2.errors}"
                           formControlName="FXPeriod2" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.FXPeriod2.errors">Please enter fx period 2</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">FX Period 3<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.FXPeriod3.errors}"
                           formControlName="FXPeriod3" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.FXPeriod3.errors">Please enter fx period 3</div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">FX Period 4<span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control text-right" appFourDigitDecimaNumber [ngClass]="{ 'is-invalid': this.submitted && f.FXPeriod4.errors}"
                           formControlName="FXPeriod4" type="text">
                    <div class="errorlbl" *ngIf="this.submitted && f.FXPeriod4.errors">Please enter fx period 4</div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Default Sales Invoice Workflow<span class="mandatoryFieldColor">*</span></label>
                    <select name="Country" class="form-control" [ngClass]="{ 'is-invalid': this.submitted && f.DefaultSalesInvoiceWorkflow.errors?.notEqual}"
                            formControlName="DefaultSalesInvoiceWorkflow">
                      <option value="00000000-0000-0000-0000-000000000000">--Select workflow--</option>
                      <option *ngFor="let workflow of BindWorkFlow" [value]="workflow.id">
                        {{workflow.workFlowCode}} - {{workflow.workFlowName}}
                      </option>
                    </select>
                    <div class="errorlbl" *ngIf="this.submitted && f.DefaultSalesInvoiceWorkflow.errors?.notEqual">
                      Please select workFlow
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Price Workflow</label>
                    <select name="Country" class="form-control"
                            formControlName="PriceWorkFlow">
                      <option value="00000000-0000-0000-0000-000000000000">--Select workflow--</option>
                      <option *ngFor="let price of BindPriceWorkFlow" [value]="price.id">
                        {{price.priceWorkflowDescription}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Country</label>
                    <select class="form-control" formControlName="Country" (change)="onCountrySelected($event.target.value)">
                      <option value="00000000-0000-0000-0000-000000000000">--Select Country--</option>
                      <option *ngFor="let country of countries" [value]="country.countryID">{{country.countryCode}} - {{country.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">State</label>
                    <select class="form-control" formControlName="State" (change)="onStatesSelected($event.target.value)">
                      <option value="00000000-0000-0000-0000-000000000000">--Select State--</option>
                      <option *ngFor="let state of states" [value]="state.stateID">{{state.stateCode}} - {{state.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">City</label>
                    <select class="form-control" formControlName="City">
                      <option value="00000000-0000-0000-0000-000000000000">--Select City--</option>
                      <option *ngFor="let city of cities" [value]="city.cityID">{{city.cityCode}} - {{city.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <div class="custom-control custom-switch swtch"
                         [class.disabled]="!this.DebtorForm.get('UseForeignCurrency').value">
                      <input type="checkbox" class="custom-control-input"
                             formControlName="UseForeignCurrency" id="UseForeignCurrency">
                      <label class="custom-control-label" for="UseForeignCurrency">Use Foreign Currency</label>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <div class="custom-control custom-switch swtch"
                         [class.disabled]="!this.DebtorForm.get('DefaultPaymentType').value">
                      <input type="checkbox" class="custom-control-input"
                             formControlName="DefaultPaymentType" id="DefaultPaymentType">
                      <label class="custom-control-label" for="DefaultPaymentType">Default Payment Type </label>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <div class="custom-control custom-switch swtch"
                         [class.disabled]="!this.DebtorForm.get('TradingStatus').value">
                      <input type="checkbox" class="custom-control-input"
                             formControlName="TradingStatus" id="TradingStatus">
                      <label class="custom-control-label" for="TradingStatus">Trading Status  </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn add-btn mr-1" type="submit" [disabled]="!this.IsActive">Save</button>
              <button class="btn add-btn mr-1" type="button" [disabled]="!this.IsActive" (click)="onSave('Close')">Save & Close</button>
              <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
            </div>
            <div *ngIf="!this.IsActive" style="text-align: center;">
              <label class="errorlbl">Please change the status of this record to Active to make changes</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Notes'">
      <app-general-notes [RecID]="this.SelectedDebtorid" [write_Access]="true" [delete_Access]="ture" [IsActive]="IsActive">
      </app-general-notes>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Attachments'">
      <app-attachment-files [RecID]="this.SelectedDebtorid"
                            [HeaderNames]="this.HeaderNames"
                            [write_Access]="true" [delete_Access]="ture" [IsActive]="IsActive">
      </app-attachment-files>
    </div>
    <div>
      <app-debter-tranction *ngIf="Mode=='Edit' && AccessTab=='Debit'"
      [DebtorID]="this.SelectedDebtorid" >

      </app-debter-tranction>
    </div>
    <div>
      <app-debtor-credit-payment  *ngIf="Mode=='Edit' && AccessTab=='Credit'"
      [DebtorID]="this.SelectedDebtorid">

      </app-debtor-credit-payment>
    </div>
  </div>
</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)"></confirmation-dialog-popup>
