<div class="input-group mr-2">
  <input type="text" class="form-control" [(ngModel)]="PurchaseOrderNumber" readonly>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="OpenSearch()"
            style="border-radius: 0px 4px 4px 0px; padding: .28rem .5rem; min-width: 42px;">
      <i class="fa fa-caret-down"></i>
    </button>
  </div>
</div>
<ng-template #purchaseOrderSearchBox>
  <div class="modal-content">
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          Purchase Order Search
        </div>
        <div class="card-body position-relative">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="col-form-label">Search</label>
                <input type="text" class="form-control" [(ngModel)]="SearchText" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="w-100"></label>
                <button class="btn add-btn sml-btn" type="button" (click)="SearchPurchaseOrder()">Search</button>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="row">
                <div class="table-responsive table-padd"  style="overflow-y:auto;height:300px">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Purchase Order Number</th>
                        <th>Order Date</th>
                        <th>Vendor</th>                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="Selecting" *ngFor="let purchaseOrder of PurchaseOrders" [ngClass]="{ 'Selected': false}" (click)="SelectPurchaseOrder(purchaseOrder.id, purchaseOrder.purchaseOrderNumber)">
                        <td>{{purchaseOrder.purchaseOrderNumber}}</td>
                        <td>{{purchaseOrder.orderedDate | appDate}}</td>
                        <td>{{purchaseOrder.vendor}}</td>                     
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-group text-center">
                <!--<button class="btn add-btn mr-1" type="button" (click)="SelectProduct()">
                  Select Product
                </button>-->
                <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<a style="float: right;" data-dismiss="modal" #closeBtn (click)="Close()" class="close-modal">X</a>-->

    </div>
  </div>
</ng-template>
