<h1>Currency<span *ngIf="Mode=='Edit'">({{CurrencyForm.get('CurrencyCode').value}} -
    {{CurrencyForm.get('CurrecnyName').value}})</span></h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/home"]'>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a [routerLink]='["/home"]'>System Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a (click)="Cancel()">Currency</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="Mode=='Add' || Mode=='Edit'"><a>{{Mode}} Currency</a>
    </li>
  </ol>
</nav>
<div class="loading" *ngIf="Loading"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
<form [formGroup]="CurrencyForm" name="CurrencyForm" (ngSubmit)="onSave('Save')" class="Form-Horizontal">
  <div class="card" *ngIf="Mode=='List'">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Currency

              <div class="add-row">
                <button (click)="AddNew()" class="btn add-btn mb-1" type="button" [disabled]="!this.write_Access">Add
                  Currency</button>
              </div>
            </div>
            <div class="card-body position-relative">
              <div class="ag-theme-balham" style="width: 100%; height:500px;">
                <app-ag-grid *ngIf="AgLoad" [ColumnDefs]="this.ColumnDefs" [RowData]="this.RowData" [IsSearch]="true"
                  [Currentpage]="this.Currentpage" (OnchangeCurrentpage)="OnchangeCurrentpage($event)" [IsExport]="true"
                  [paginationPageSize]="this.PageSize" (OnPageSizeChange)="OnPageSizeChange($event)"
                  (OnActionClick)="OnActionClick($event)">
                </app-ag-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="Mode=='Add' || Mode=='Edit'">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Currency"}'
          data-toggle="tab" (click)="AccessTab='Currency'" role="tab">Currency</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Rates"}' data-toggle="tab"
          (click)="AccessTab='Rates'" role="tab">Exchange Rates</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Notes"}' data-toggle="tab"
          (click)="AccessTab='Notes'" role="tab">Notes</a>
        <a class="nav-item nav-link" *ngIf="Mode=='Edit'" [ngClass]='{"active": AccessTab=="Attachments"}'
          data-toggle="tab" (click)="AccessTab='Attachments'" role="tab">Documents</a>
      </div>
    </nav>
    <div class="card" *ngIf="Mode=='Add' || Mode=='Edit' && AccessTab=='Currency'">
      <div class="card-header">
        {{Mode}} Currency
      </div>
      <div class="card-body pb-0">
        <div class="tab-content pt-2 pb-1">
          <!--id="nav-tabContent"-->
          <div class="tab-pane fade show active">
            <div class="form-border mt-0">
              <!-- <h3 class="form-heading">Currency</h3> -->
              <div class="row">

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label ">Code <span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control" [ngClass]="{ 'is-invalid': this.submitted && f.CurrencyCode.errors}"
                      placeholder="" type="text" formControlName="CurrencyCode" maxlength="50">
                    <!--<input class="form-control" *ngIf="CodeActive" [ngClass]="{ 'is-invalid': this.submitted && f.CurrencyCode.errors}"
                           placeholder="" type="text" formControlName="CurrencyCode" maxlength="50" readonly>-->
                    <div class="errorlbl" *ngIf="submitted && f.CurrencyCode.errors">Please enter code</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Name <span class="mandatoryFieldColor">*</span></label>
                    <input class="form-control" [ngClass]="{ 'is-invalid': this.submitted && f.CurrecnyName.errors}"
                      placeholder="" type="text" formControlName="CurrecnyName" maxlength="255">
                    <div class="errorlbl" *ngIf="submitted && f.CurrecnyName.errors">Please enter name</div>
                  </div>
                </div>
                <!--<div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="col-form-label">Decimal </label>
                    <input class="form-control text-right" placeholder="" min="0" step="0.00" type="number" formControlName="Decimal">
                  </div>
                </div>-->
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn add-btn mr-1" type="submit"
                [disabled]="!this.write_Access ||  !this.IsActive">Save</button>
              <button class="btn add-btn mr-1" type="button" [disabled]="!this.write_Access ||  !this.IsActive"
                (click)="onSave('Close')">Save & Close</button>
              <button class="btn btn-danger" type="button" (click)="Cancel()">Close</button>
            </div>
            <div *ngIf="!this.IsActive" style="text-align: center;">
              <label class="errorlbl">Please change the status of this record to Active to make changes</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Rates'">
      <app-currency-rates [SelectedCurrencyRateID]="this.SelectedCurrencyRateID" (onModeChange)="onModeChange($event)" [IsActive]="IsActive">
      </app-currency-rates>
    </div>
    <div *ngIf="Mode=='Edit' && AccessTab=='Notes'">
      <app-general-notes [RecID]="this.SelectedCurrencyRateID" [write_Access]="this.write_Access"
        [delete_Access]="this.delete_Access"  [IsActive]="IsActive">
      </app-general-notes>
    </div>


    <div *ngIf="Mode=='Edit' && AccessTab=='Attachments'">
      <app-attachment-files [RecID]="this.SelectedCurrencyRateID" [HeaderNames]="this.HeaderNames"
        [write_Access]="this.write_Access" [delete_Access]="this.delete_Access"  [IsActive]="IsActive">
      </app-attachment-files>
    </div>
  </div>

</form>
<confirmation-dialog-popup #confirmation (OnCancel)="OnCancel()" (OnAccept)="OnAccept($event)">
</confirmation-dialog-popup>
