<form [formGroup]="RoleCompanyAccessForm" name="RoleCompanyAccessForm" (ngSubmit)="onSave()" class="Form-Horizontal">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label class="col-form-label">Organisation</label>
        <select class="form-control" formControlName="Organisation">
          <option value="-1">--Select Organisation--</option>
          <option *ngFor="let company of Companies" [value]="company.id">{{company.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label class="w-100"></label>
        <button class="btn add-btn sml-btn" type="button" [disabled]="!this.write_Access ||!IsActive" (click)="AddRoleCompanyAccess()">Add</button>
      </div>
    </div>
  </div>
  <!--<div>
    <ol>  
      <li  *ngFor="let company of Companies">{{company.name}}</li>
    </ol>
  </div>-->
  <div class="tab-content pt-2 pb-1" id="nav-tabContent">
    <div class="table-responsive table-padd">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Organisation Code</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody formArrayName="RoleCompanyAccess">
          <tr *ngFor="let roleCompanyAccess of RoleCompanyAccessForm.get('RoleCompanyAccess').controls; let i = index"
            [formGroupName]="i">
            <td width="100">{{roleCompanyAccess.get('CompanyCode').value}}</td>
            <td>{{roleCompanyAccess.get('Name').value}}</td>
            <td class="action-tools" width="50">
              <a *ngIf ="delete_Access" (click)="DeleteRoleOrganisations(i, roleCompanyAccess.get('CompanyID').value, roleCompanyAccess.get('ID').value)"><i class="fa fa-trash-o"
                  aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
